# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===========================
# Virtual Environments
# ===========================
myenv/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# Datasets (local only)
# ===========================
data/
week-3/data/

# Ignore specific local dataset
week-1/notebooks/Iris.csv

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# ===========================
# Environment Variables
# ===========================
.env